<%= javascript_include_tag 'mainpage/cycling.js' %>
<%= javascript_include_tag 'mainpage/cycle.js' %>

<div class="slideshow">
    <%= image_tag("cover1.jpg") %>
    <%= image_tag("cover2.jpg") %>
    <%= image_tag("cover3.jpg") %>
    <%= image_tag("cover4.jpg") %>
    <%= image_tag("cover5.jpg") %>
    <%= image_tag("cover6.jpg") %>
</div>