<!DOCTYPE html>
<html>
<head>
  <title>MTG Limited Sim: BFZ</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id ="topbar">
  <table>
    <tr>
      <td>
      <%= link_to 'Battle for Zendikar limited sim.', root_path %>
      </td>
      <td class = "menuitem">
        <%= link_to 'Start draft', new_draft_path %>
      </td>
      <td class = "menuitem">
        <%= link_to 'Start sealed', new_sealedpool_path %>
      </td>
      <td class = "menuitem">
        <%= link_to 'View full BFZ set', cards_path %>
      </td>
    </tr>
</table>
</div>
<%= yield %>

</body>
</html>
