<!DOCTYPE html>
<html>
<head>
  <title>MTGDrafter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id ="topbar">
  <table>
    <tr>
      <td>
      <%=link_to 'Battle for Zendikar limited sim.', root_path%>
      </td>
      <td class = "menuitem">
        <%=link_to 'Start draft', draft_index_path%>
      </td>
      <td class = "menuitem">
        <%=link_to 'Sample sealed pool', sample_index_path%>
      </td>
      <td class = "menuitem">
        <%=link_to 'View full BFZ set', fullset_index_path%>
      </td>
    </tr>
</table>
</div>
<%= yield %>

</body>
</html>
