<!DOCTYPE html>
<html>
<head>
  <title>MTG Limited Sim: BFZ</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-regular" id="headline">
        <li><%= link_to 'Battle for Zendikar limited sim.', root_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Start draft', new_draft_path %></li>
        <li><%= link_to 'Start sealed', new_sealedpool_path %></li>
        <li><%= link_to 'View full BFZ set', cards_path %></li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
